@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

.navbar{
    padding: 16px 78px;
    align-items: center;
    box-shadow: 0 1px 1px #ccc;
    background-color: white;
    z-index: 10;
}

.fixed-top {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo{
    font-size: 2.1em;
    margin-top: 0;
    width: 130px;
    background-image: linear-gradient(269deg,#0048ff,#0096ff),linear-gradient(#000,#000);
    color: #0084ff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: -.9px;
    font-family: Raleway,sans-serif;
}

.logo-stories{
    margin: 0;
    -o-object-fit: contain;
    object-fit: contain;
    font-family: Raleway,sans-serif;
    font-size: 1.05em;
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    line-height: .8;
    letter-spacing: .9px;
    color: #000;
}

.navbar > a{
    float: left;
}

.categories{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    font-family: Raleway,sans-serif;
    cursor: pointer;
    position: relative;
}

.categories > p{
    margin: 0;
    color: #999797;
    min-width: 23em;
    opacity: .6;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: .4px;
    text-align: left;
    color: rgba(0,0,0,.6);
    margin-top: .5em;
}

.categories i{
    font-size: 14px;
    padding-left: 10px;
}

.navbar-btn{
    width: auto;
    font-size: 0.75em;
    padding: 0.5em 2em;
    margin: 0px 1em 0px 0px;
    box-shadow: none;
    min-width: 136px;
    height: 42px;
    border-radius: 25px;
    background: linear-gradient(269deg,#0048ff,#0096ff);
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

.category-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 8px rgb(0 0 0 / 50%);
    border-radius: 4px;
    padding: 10px 5px;
    transform: translate(4%,70%);
    z-index: 20;
}

.category-container a{
    width: 100%;
    padding: 8px 16px;
    color: rgba(0,0,0,.7);
    font-weight: 400;
    font-size: 14px;
    font-family: Raleway,sans-serif;
    cursor: pointer;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: .9px;
}

.category-container div{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -6%;
    left: 45%;
    font-size: 28px;
    background-color: white;
    transform: rotateZ(-135deg) translateY(-100%);
    box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
    z-index: 10;
}